.Andy {
    width: 700px;
        height: 200px;
}
.BR img {
    width: 700px;
    height: 550px;
    object-fit: contain;
}

.Lilo img {
    width: 700px;
    height: 850px;
    object-fit: contain;
}
