<!DOCTYPE html> 
<html> 
<head>
<style> 

.BR {
    background-image: url("images/bathroom.jpeg");
    background-size: 200px 150px;
    background-size: contain;
    background-position: center; 
    
}
.Lilo {
    background-image: url("images/lilo.jpeg");
    background-size: 200px 150px;
    background-size: contain;
    background-position: center; 
}
