<!DOCTYPE html> 
<html> 
<head>
<style> 

.drawings2023 {
    background-image: url("images/bathroom.jpeg");
    background-image: url("images/lilo.jpeg");
    background-size: cover; 200 x 150 
    background-position: center; 
}
