.Andy {
    width: 400px;
        height: 200px;
}
.BR img {
    width: 400px;
    height: 350px;
    object-fit: contain;
}

.Lilo img {
    width: 500px;
    height: 650px;
    object-fit: contain;
}
