.Andy {
    width: 400px;
        height: 50px;
}
.BR img {
    width: 500px;
    height: 550px;
    object-fit: contain;
}

.Lilo img {
    width: 400px;
    height: 450px;
    object-fit: contain;
}
.worldpeace img {
    width: 500px;
    height: 550px;
    object-fit: contain;
